---
title: RESUME
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>RESUME</h2>
</div>

<main class="tags-content">

    <div id="wrapper" style="color: black; background: white;">
            <div class="header">
                <div class="header-title" style="padding-left:8px;">
                    <span class="author-name" style="line-height: 50px;"><b>杨国豪</b></span>
                    <span class="author-intro"></span>
                </div>
                <div class="header-list">
                    <div class="header-left">
                        <ul>
                            <li>联系方式：13507097741</li>
                            <li>邮箱：<i>younghblog@gmail.com</i></li>
                            <li>学历：全日制专业学位硕士</li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <ul>
                            <li>期望职位：C++工程师</li>
                            <li>期望城市：杭州（优先）、南京、广州</li>
                            <li>当前坐标：武汉</li>
                        </ul>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>

            <div class="person-info">
                <span class="icon"></span>
                <span class="subtitle">个人信息</span>
                <span class="long-line"></span>
                <div class="detail-list">
                    <div class="info-left">
                        <span>籍贯：山西省晋中市平遥县</span>
                        <span>学校：武汉理工大学/计算机技术 - 2019</span>
                        <span>毕业年份：2022</span>
                    </div>
                    <div class="info-right">
                        <span>出生年月： 1997.01.10 - 摩羯座</span>
                        <span>个人网站：<a href="https://younghblog.github.io" target="_blank" style="color:#0080FF"><i>younghblog.github.io</i></a></span>
                        <span>CSDN：<a href="https://blog.csdn.net/qq_40452906" target="_blank" style="color:#0080FF"><i>blog.csdn.net/qq_40452906</i></a></span>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>

            <div class="pro-skill">
                <span class="icon"></span>
                <span class="subtitle">技能清单</span>
                <span class="long-line"></span>
                <div class="detail-list">
                    <ul>
                        <li>NULL：NULL;</li>
                        <li>NULL：HNULL;</li>
                        <li>NULL：NULL;</li>
                        <li>NULL：NULL</li>
                    </ul>
                </div>
            </div>

            <div class="work-experience">
                <span class="icon"></span>
                <span class="subtitle">在校经历</span>
                <span class="long-line"></span>
                <div class="detail-list">
                    <div class="company">
                        <h2>XXXXXXX</h2>
                        <span class="tools">XXXXXXX</span>

                        <span class="project-title">xx项目</span>
                        <span class="project-intro">
                            XXXXXXX
                        </span>
                    </div>

                    <div class="company">
                        <h2>XXXXXXX</h2>
                        <span class="tools">XXXXXXX</span>

                        <span class="project-title">xx项目</span>
                        <span class="project-intro">
                            XXXXXXX
                        </span>
                    </div>
                </div>
            </div>

            <div class="open-source">
                <span class="icon"></span>
                <span class="subtitle">XXXXXXX</span>
                <span class="long-line"></span>
                <div class="detail-list">
                    <ul>
                        <li>
                            <span class="source-name">XXX：</span>
                            <span>XXXXXXX</span>
                            <span class="source-url">地址：<a href="https://g#">XXXXXXX</a></span>
                        </li>
                        <li>
                            <span class="source-name">CSDN：</span>
                            <span>XXXXXXX</span>
                            <span class="source-url">地址：<a href="http://#">XXXXXXX</a></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="honor-eva">
                <div class="honor-reward">
                    <span class="icon"></span>
                    <span class="subtitle">荣誉奖励</span>
                    <span class="long-line short-line"></span>
                    <div class="detail-list">
                        <ul>
                            <li>XXXXXXXXXXXXXXXXXXXX</li>
                            <li>XXXXXXXXXXXXXXXXXXXX</li>
                            <li>XXXXXXXXXXXXXXXXXXXX</li>
                            <li>XXXXXXXXXXXXXXXXXXXXX</li>
                        </ul>
                    </div>
                </div>
                <div class="self-evaluation">
                    <span class="icon"></span>
                    <span class="subtitle">自我评价</span>
                    <span class="long-line short-line"></span>
                    <div class="detail-list">
                        <ul>
                            <li>XXXXXXX</li>
                            <li>XXXXXXX</li>
                            <li>XXXXXXX</li>
                            <li>XXXXXXX</li>
                        </ul>
                    </div>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>

        <script type="text/javascript">
            var windowWidth =  document.body.clientWidth;
            var templateWidth = 320;

            if(windowWidth < 840) {
                var calcFontSize = (windowWidth) / templateWidth * 14 + "px";

                document.getElementsByTagName("html")[0].style.fontSize = calcFontSize;
            }
        </script>
</main>
    
{% include footer.html %}
